<h1>Previous Posts</h1>

<table>
  <thead>
    <tr>
      <th>Feeling</th>
      <th>Functioning</th>
      <th>Activity</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.feeling %></td>
        <td><%= post.functioning %></td>
        <td><%= post.activity_id %></td>
        <td><%= post.notes %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
